footer {
    text-align: center;
    background-color: rgb(35, 39, 49);
    height: 200px;
    padding: 50px;
    color: #f2be8d;
    margin-top: 20px;
  }
  .Contact {
    color: aliceblue;
    margin: 5px;
  }